.sweet-loading {
    position: fixed !important;
    top: 30% !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 9999;
  }

  .filter {
    display: flex;
    flex-direction: row;
  }
  
